div{
    height: 200px;
    width: 300px;
    background-color: pink;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    /* border-left-style: dashed;
    border-left-color: blue;
    border-top-style: dotted;
    border-top-color: red; */
    border-radius: 20px;
    border-bottom-left-radius: 50px;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 100px;
}

h1{
    /* border-width: 2px;
    border-style: dashed;
    border-color: purple; */
   border: 5px dashed green;
   border-radius: 20%;
}

button{
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: yellow;
    margin: 0;
}
