.card {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 9px black;
    transition: 2s;
}

img {
    width: 100%;
    height: 120px; /* Adjust as needed */
  
    border-radius: 5px 5px 0 0;
}

.desc {
    padding: 0 2px 0 2px;
    font-size: 14px;
}

.card:hover{
  box-shadow: 0 4px 19px goldenrod;  
}