#container {
    
    width:100% ;
    background-color: azure;
    flex-wrap: wrap;
    margin: 20px auto;
    border: 2px solid black;
    display: flex;
     gap: 0;
    text-align: center;
    /* flex-direction: row; */
    justify-content:flex-start;
    align-items:flex-start;
    display: flex;
 
    flex-wrap: wrap;
  
/* align-content: center; */
}
h1{ 
    text-align: center;

}
#container div {
    flex: 1;
/* height: 120px; */
width: 150px;
text-align: center;
color: white;
font-size: 1.5em;
 justify-content: center;

display: flex;
margin-top: 40px;
}
#container div.orange {
  margin-top: 0;  /* orange ka margin hatado */
}