div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid #000000;
    margin: 20px;
    display: inline-block;
}

#Static {
    background-color: goldenrod;
    position: static;
    top: 100px;
    left:  100px;
}

#relative {
    background-color: goldenrod;
    position: relative;
    top: 100px;
    left:  100px;
}

#absolute {
    background-color: goldenrod;
    position: absolute;
    top: 100px;
    left:  100px;
}

#fixed {
    background-color: goldenrod;
    position: fixed;
    top: 100px;
    left:  100px;
}