div{
    height: 200px;
    width: 400px;
    background-color: pink;
   /* border-width: 5px;
    border-style: solid;
    border-color: black;*/
    border: 5PX solid black;
}

h1{
    border-width: 2px;
    border-style: dashed;
    border-color: green;
}
