/* universal selector (*) to apply style to everything in document  */
*
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 247, 247);
}
/* selects all elements of same type */
h1,h3{
    color: #b92b27;
}

p + h3 {
text-decoration: underline;
}
/* id selector - selects an element based on the value of the element id attribute   */
#login{
    background-color: white;
    color: aqua;
}
#signup{
background-color: #b92b27;
color: white;
}
/* class selector - selects an element based on their class attribute */
.upvote + button {
background-color: rgb(14, 100, 185);
color: darkblue;
}

div > input {
    background-color: darksalmon;
}

input[ type = "text"]{
    color: red;
}
input[type = "password"]{
    color: green;
}

input[type]
{
    background-color: ghostwhite;
}

button:hover{
    background-color: black;
    color: azure;
}
h3:hover{
    text-decoration: overline;
}
button:active{
    background-color: hotpink;
    color: black;
}
p:active{
    font-weight: bold;
    color: green;
}

input[type = "radio"]:checked + label{
    color: red;
    font-weight: bold;
}
div:nth-of-type(2n){
    background-color: blanchedalmond;
}

h1::first-letter{
    color: green;
}
p::first-line
{
    color: purple;
}
p::selection{
    background-color: limegreen;
}

h3 {
    background-color: yellow;
}
h3 {
    background-color: blue; 
}
 /* h3 will show blue  */