*
{
    font-family: 'Times New Roman', Times, serif;
    background-color: blue;
}

h1{
    color: green;
}
h2,h3 {
    color: yellow;
}

#nothing{
    color: darkgreen;
}
.anything{
    color: red;
}